# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Visual Studio cache/options directory
.vs/
lcc_members/
lcc_partner_gogocartojs/
lcc_for_partners/
#module created by SSL for SOL group
partner_firstname/
base_location/
.gitignore
