<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <record id="action_lcc_backends_tree_view" model="ir.actions.act_window">
        <field name="name">LCC backends</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">res.partner.backend</field>
        <field name="view_mode">tree,form</field>
        <field name="help" type="html">
            <p>
                <br />
            </p>
        </field>
    </record>

    <menuitem
        id="lcc_backends_tree_menu"
        parent="membership.menu_marketing_config_association"
        sequence="99"
        groups="base.group_no_one"
        action="action_lcc_backends_tree_view" />

</odoo>